@import "tailwindcss";

@theme {
  --color-rose-quartz-500: #F7CAC9;
  --color-serenity-500:   #92A8D1;
}

@layer utilities {
  .line-clamp-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}
